<section class="container-fluid about white-color no-padding" id="about">
  <div class="about-background about-background-1 row no-margin">
      <div class="col-md-6 about-white-box">
        <h2 class="section-claim wow fadeInDown" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInDown;">Mike's Story
          <span><h5>Master Baker</h5></span>
        </h2>
        <p>Growing up, my belly was always full with home-cooked meals made by an Italian mother  and grandmother.  This led to my career as a Chef.  After 20 years in the business, I have decided to share my passion for cooking through mouth-watering cookies.  Allow me to be your Cookie Dealer! </p>
      </div>
      <div class="col-md-6 about-black-box">
        <%= image_tag("mike-hernandez.jpg", alt: "Chef Mike", class: "about-mike") %>
      </div>
  </div>
</section>