<nav class="navbar navbar-fixed-top shadow" id="js-nav">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-target="#myNavbar" data-toggle="collapse" type="button">
        <span class="icon-bar"></span> 
        <span class="icon-bar"></span> 
        <span class="icon-bar"></span>
      </button>
      
      <a class="navbar-brand" href="/"><%= image_tag("cookie-dealer-logo2.png", :alt => "Cookie Dealer", :class => "nav-logo")%></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="#home">home</a></li>
        <li><a href="#products">cookies</a></li>
        <li><a href="#about">about us</a></li>
        <li><a href="#contact">contact</a></li>
        <li>
          <% if user_signed_in? %>
            <%= link_to('logout', destroy_user_session_path, :method => :delete) %>        
          <% else %>
            <%= link_to('login', new_user_session_path)  %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>