<section class="home section image-slider" id="home">
  <div class="home-slider text-center">
    <div class="swiper-wrapper">
      <div class="swiper-slide swiper-home">
        <%= image_tag("cookie-dealer-logo.png", alt: "Cookie Dealer", class: "nav-logo") %>
        <h2 class="home-slider-title-main white-color">order now thru pay pal</h2>
        <div class="home-buttons text-center"> <a href="#products" class="btn btn-lg  btn-primary">our cookies</a> </div>
        <a class="arrow bounce text-center" href="#products"> <span class="ti-mouse"></span> <span class="ti-angle-double-down"></span> </a>
      </div>
    </div>
  </div>
</section>