<div role="about" class="container">
  <div class="row thumbnail container">
    <div class="col col-md-6">
      <%= image_tag ('mike-hernandez.jpg') %>
    </div>
    <div class="col col-md-6">
      <h1>Mike's Story</h1>
      <h5> - Master Baker - </h5><br>
      <p class="about-me">
      Growing up, my belly was always full with home-cooked meals made by an Italian mother  and grandmother.  This led to my career as a Chef.  After 20 years in the business, I have decided to share my passion for cooking through mouth-watering cookies.  Allow me to be your Cookie Dealer! </p>
    </div>
  </div>
</div>