/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";
  
  body {
    background-image: image-url('black-linen.png');
    font-family: 'Josefin Sans', sans-serif;
    height: 100%;
    margin-bottom: 60px;
    h1, h3, h4, h5, p {
      color: #f8f8f8;
    }
    h1 {
      font-family: 'Allan', cursive;
      font-size: 60px;
    }
    p ,h5 {
      font-family: 'Josefin Sans', sans-serif;
    }
    .container {
      padding-bottom: 50px;
    }
  }
  
  nav[role="navbar"] {
    line-height: 50px;
    font-size: 25px;
    height: 70px;
    padding-bottom: 50px;
    img {
      position: relative;
      top: -10px;
      left: -10px;
      height: 140px;
      width: 180px;
    }
  }

  div[role="cookie-index"] {
    padding-top: 80px;
    h3, h4 {
      color: #000000;
    }
    img {
      width: 250px;
      height: 250px;
    }
    .well {
      background-color: #f8f8f8;
    }
  }

  div[role="cookie-show"] {
    padding-top: 80px;
    .container {
      overflow: hidden;
    }
    .photo {
      float: left;
    }
    .cookie-image {
      border: 1px solid #f8f8f8;
      width: 500px;
      height: 500px;
    }
    .description {
      float: right;
    }
  }

  div[role="about"] {
    padding-top: 80px;
    h1 {
      text-align: center;
    }
    h5 {
      text-align: center;
      color: #f8f8f8;
    }
    img {
      border-radius: 2px;
      border: 2px solid #000;
    }
    .thumbnail {
      padding-top: 115px;
      background-color: #000;
      padding-bottom: 115px;
    }
    p {
      font-size: 30px;
      text-align: center;
    }
  }

  .footer {
    position: fixed;
    bottom: 0;
    height: 60px;
    width: 100%;
    background-color: #000;
    color: #555;
    p {
      padding-top: 20px;
      text-align: center;
    }
    a {
      color: #555;
    }
  }
